@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}
body a {
  text-decoration: none;
}

header {
  background-color: #66bb6a;
  height: 17vh;
  text-align: center;
}
header div {
  width: 80vw;
  height: 10vh;
  margin: auto;
}
header div h2 {
  font-size: 3.125rem;
  font-family: "Sansita Swashed", sans-serif;
  color: white;
  display: inline-block;
  margin-top: 5vh;
}
header div nav {
  display: inline-block;
  margin-left: 15vw;
}
header div nav a {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 4vw;
  font-family: Roboto, sans-serif;
}
header div nav a:hover {
  cursor: pointer;
  color: rgb(210, 245, 210);
}

main #banner {
  background-image: url(./assets/background.png);
  background-size: cover;
  height: 35.75rem;
  color: white;
  text-align: center;
}
main #banner h2 {
  font-size: 6rem;
  font-family: "Sansita Swashed", sans-serif;
  padding-top: 6.25rem;
}
main #banner p {
  width: 49.8125rem;
  font-size: 1.5rem;
  margin: 3.125rem auto 3.125rem auto;
  font-weight: bold;
}
main #banner .botao-banner {
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  background: #66bb6a;
  border-radius: 4.25rem;
  height: 5.625rem;
  width: 25.3125rem;
  text-align: center;
  border: none;
  padding: 2rem;
}
main #banner .botao-banner:hover {
  cursor: pointer;
  background-color: rgb(36, 163, 43);
}
main #cards {
  min-height: 41.25rem;
  padding: 6rem 0;
  text-align: center;
  background-color: #f1f8e9;
}
main #cards .card {
  display: inline-block;
  height: 26.75rem;
  width: 19.25rem;
  background-color: white;
  border-radius: 0.9375rem;
  margin: 1.3125rem 1.3125rem 1.3125rem 1.3125rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2509803922);
  text-align: center;
  vertical-align: top;
}
main #cards .card h2 {
  font-size: 1.4rem;
  height: 2rem;
}
main #cards .card p {
  font-size: 0.9375rem;
  margin: 1.25rem 0.5rem;
  height: 4rem;
}
main #cards .card img {
  border-radius: 0.9375rem 0.9375rem 0 0;
  margin-bottom: 0.9375rem;
}
main #cards .card .botao-card {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background: #66bb6a;
  border-radius: 4.25rem;
  height: 3.0625rem;
  width: 9.3125rem;
  text-align: center;
  border: none;
}
main #cards .card .botao-card:hover {
  cursor: pointer;
  background-color: rgb(36, 163, 43);
}
main #formulario {
  text-align: center;
  background-color: #e8f5e9;
}
main #formulario div {
  color: #2a2a2a;
  text-align: center;
}
main #formulario div div h2 {
  font-size: 3.5rem;
  padding: 1rem 0;
  font-weight: bold;
}
main #formulario div div p {
  display: inline-block;
  font-size: 1.75rem;
  width: 59.3125rem;
}
main #formulario div form {
  width: 43.4375rem;
  display: inline-block;
  text-align: center;
  margin-bottom: 4rem;
}
main #formulario div form .botao-form {
  font-size: 1.75rem;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  background: #66bb6a;
  border-radius: 1.5625rem;
  height: 5.0625rem;
  width: 100%;
  text-align: center;
  border: none;
}
main #formulario div form .botao-form:hover {
  cursor: pointer;
  background-color: rgb(36, 163, 43);
}
main #formulario div form div {
  text-align: left;
  padding: 1rem 0;
}
main #formulario div form div label {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: left;
  font-weight: bold;
}
main #formulario div form div input,
main #formulario div form div select {
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  font-size: 1.75rem;
  background: white;
  height: 3.375rem;
  border: none;
  border-radius: 1.5625rem;
  padding: 0.8125rem 1.5625rem;
}
main #formulario div form div input::-moz-placeholder {
  color: #8e8e8e;
  font-weight: bold;
}
main #formulario div form div input::placeholder,
main #formulario div form div select:invalid {
  color: #8e8e8e;
  font-weight: bold;
}

footer {
  height: 7.6875rem;
  background-color: #66bb6a;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
footer p {
  line-height: 7.6875rem;
}/*# sourceMappingURL=style.css.map */